@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-300.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-400.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-500.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-600.otf") format("opentype");
  font-weight: 600;
}

:root {
  --var-bgColor: #fff;
  --var-fontColor: #1e2021;
  --var-buttonColor: #1e2021;
  --var-buttonHoverColor: #363a3c;
  --var-buttonTextColor: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --var-bgColor: #333;
    --var-fontColor: #fff;
    --var-buttonColor: #186251;
    --var-buttonHoverColor: #1e3431;
    --var-buttonTextColor: #fff;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 500px;
  height: 240px;
  font-family: SF Pro Display, sans-serif, currencies, auto;
  font-size: 24px;
  color: var(--var-fontColor);
  background-color: var(--var-bgColor);
  transition: height .25s ease-in-out;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 1px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 520px;
  margin: 0 auto;
  padding: 0 10px;
}

.lastUpdateDate {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.3px;
  line-height: 21px;
  margin-top: 10px;
}

.lastUpdateDate span {
  font-size: 14px;
  font-weight: 300;
}

.settings {
  float: right;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 21px;
  margin-top: 10px;
}

.settings__swap {
  cursor: pointer;
  user-select: none;
  text-decoration: underline;
}

.balance__title, .balance__value, .income__title, .income__value {
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.income__value span:first-child {
  cursor: pointer;
}

.income__value img {
  width: 14px;
  margin-right: 5px;
}

.main-section {
  margin-bottom: 16px;
}

.balance__title,
.income__title {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 32px;
  margin-top: 10px;
}

.balance__value, .income__value {
  font-weight: 500;
}

.income__value {
  color: #00ba88;
}

.buttons-section {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.btn {
  display: block;
  width: 100%;
  background: var(--var-buttonColor);
  color: var(--var-buttonTextColor);
  border: 1px solid transparent;
  border-radius: 12px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  min-width: 200px;
  outline: none;
  padding: 11px 25px 10px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  transition: all 0.185s ease-in-out;
}

.btn:hover {
  background: var(--var-buttonHoverColor);
}
.support-section {
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--var-bgColor);
  color: var(--var-fontColor);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
  font-size: 16px;
}

.bigBody {
  height: 665px;
}

.stats-section {
  position: absolute; 
  font-size: 14px; 
  margin-top: 6px;
  line-height: 20px;
  width: 100%;
}

.swap {
  user-select: none;
  position: absolute;
  margin-top: 6px;
  font-size: 16px;
  left: 115px;
  text-decoration: underline;
  cursor: pointer;
}

.display-none {
  display: none;
}

.invest-section {
  background: var(--var-bgColor);
  position: absolute;
  z-index: 1;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  top: -1000px;
  transition: .25s;
}

.invest-section__title, .support-section__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

.invest-section__title-sum {
  font-size: 16px;
  font-weight: 300;
}

.invest-section__btn-close, .support-section__btn-close {
  float:right;
  cursor: pointer;
  font-size: 30px;
}

.invest-section__input {
  font-size: 16px;
  height: 24px;
  width: 70px;
  margin: 5px 0 10px;
}

.invest-section__input-title {
  font-size: 16px;
}

.invest-section__btn-update {
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
}

.notification {
  position: fixed;
  background: green;
  color: white;
  width: 200px;
  height: 100px;
  margin: 10px;
  right: 0;
  bottom: 0;
  z-index: 999999999999;
}

.notification__title {
  font-size: 24px;
  font-weight: 600;
}

.notification__text {
  font-size: 16px;
  font-weight: 300;
}