@charset "UTF-8";
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-300.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-400.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-500.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-600.otf") format("opentype");
  font-weight: 600;
}
@keyframes load-opacity-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotation {
  0% {
    transform: translate(0, -50%) rotate(0deg);
  }
  100% {
    transform: translate(0, -50%) rotate(360deg);
  }
}
@keyframes translateRight {
  to {
    transform: translateX(100%);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: SF Pro Display, sans-serif, currencies, auto;
  font-size: 24px;
  color: var(--jle-fontColor);
  background-color: var(--jle-bgColor);
  transition: height 0.25s ease-in-out;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  font-weight: 300;
}

b {
  font-weight: 600;
}

.link {
  text-decoration: underline;
  color: #8888e6;
}

.container {
  min-width: 520px;
  max-width: 768px;
  margin: 0 auto;
  padding: 0 10px;
}

.modal {
  width: 480px;
  max-height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--jle-bgColor);
  color: var(--jle-fontColor);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
  font-size: 16px;
  cursor: auto;
}
.modal-container {
  position: relative;
  cursor: pointer;
}
.modal-container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px); /* создаем размытие заднего фона */
  z-index: 10;
}
.modal::-webkit-scrollbar {
  width: 0px;
}
.modal__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

.main-section__stats {
  margin-bottom: 16px;
  transition: opacity 1s ease, color 0.5s ease;
}

.settings {
  float: right;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 21px;
  margin-top: 10px;
}
.settings__swap {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-decoration: underline;
}

.lastUpdateDate {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.3px;
  line-height: 21px;
  margin-top: 10px;
}
.lastUpdateDate span {
  font-size: 14px;
  font-weight: 300;
}

#balance, #balance--clean {
  transition: color 0.5s ease;
}

.balance__title,
.balance__value,
.income__title,
.income__value {
  display: flex;
  justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.income__currency {
  cursor: pointer;
}

.income__value img {
  width: 14px;
  margin-right: 5px;
}

.balance__title,
.income__title {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 32px;
  margin-top: 10px;
}

.balance__value,
.income__value {
  font-weight: 500;
}

.income__value {
  color: #00ba88;
}

.stats-section {
  font-size: 16px;
  margin-top: 6px;
  line-height: 20px;
  width: 100%;
  overflow: hidden;
  max-height: 0px;
  transition: 0.25s ease-in-out;
}

.invest-section {
  background: var(--jle-bgColor);
  position: absolute;
  z-index: 1;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  top: -1000px;
  transition: 0.25s;
}
.invest-section__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}
.invest-section__title-sum {
  font-size: 16px;
  font-weight: 300;
}
.invest-section__input {
  font-size: 16px;
  font-family: SF Pro Display, sans-serif, currencies, auto;
  height: 32px;
  width: 145px;
  margin: 5px 0 10px;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 1px;
}
.invest-section__btn {
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.invest-section__input-btn {
  width: 40px;
  height: 28px;
  position: relative;
  border-radius: 11px;
  bottom: 2px;
  right: 40px;
  margin-right: -40px;
  border: none;
  cursor: pointer;
}
.invest-section__input-title {
  font-size: 16px;
}

.invest-section__btn-close,
.modal__btn-close {
  float: right;
  cursor: pointer;
  font-size: 30px;
}

.buttons-section {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.btn {
  display: block;
  width: 100%;
  background: var(--jle-buttonColor);
  color: var(--jle-buttonTextColor);
  border: 1px solid transparent;
  border-radius: 12px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  min-width: 200px;
  outline: none;
  padding: 11px 25px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.185s ease-in-out;
}
.btn:hover {
  background: var(--jle-buttonHoverColor);
}

.swap {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-top: 6px;
  left: 115px;
  text-decoration: underline;
  cursor: pointer;
}

.list-element {
  position: relative;
  font-weight: 300;
}
.list-element__loan-name {
  cursor: pointer;
  text-decoration: underline;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.list-element__img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin: 0px 10px 10px 0;
}
.list-element + .list-element {
  margin-top: 12px;
}
.list-element__load-block {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10000000000;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  font-size: 24px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  align-items: center;
  display: flex;
  justify-content: center;
}

.btn-small {
  font-size: 16px;
  text-align: center;
  display: inline-block;
  background: var(--jle-smallBtnColor);
  padding: 8px;
  margin: 10px 0;
  border-radius: 12px;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: background 0.25s ease-in-out, scale 0.05s ease;
}
.btn-small:hover {
  background: var(--jle-smallBtnColor--hover);
}
.btn-small:active {
  scale: 0.99;
}

.load-opacity-animation {
  opacity: 1;
  animation: load-opacity-animation 2s ease infinite;
}

.load-spinner {
  width: 20px;
  margin: 0 4px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%) rotate(0deg);
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid var(--jle-fontColor);
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.load-spinner::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.contrast-bg {
  padding: 12px;
  border-radius: 12px;
  background: var(--jle-secondBgColor);
}

.load-block-animation {
  border-radius: 4px;
  background-color: var(--jle-first-color);
  max-width: 100%;
  display: inline-flex;
  flex-shrink: 0;
  line-height: 1;
  position: relative;
  overflow: hidden;
}
.load-block-animation::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(90deg, var(--jle-first-color), var(--jle-second-color), var(--jle-first-color));
  transform: translateX(-100%);
  animation: translateRight normal 1.5s ease-in-out infinite;
}
.load-block-animation * {
  visibility: hidden;
}

.market-analiz-block {
  flex: 1;
  margin-left: 10px;
  height: 35px;
  border-radius: 12px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.display-none {
  display: none;
}

.arrow {
  position: relative;
  font-size: 14px;
  opacity: 1;
  transition: opacity 1.5s ease-in-out, bottom 1.5s ease, top 1.5s ease;
}

@media screen and (min-width: 768px) {
  .stats-section {
    max-height: 1000px;
  }
}/*# sourceMappingURL=style.css.map */