@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-300.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-400.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-500.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-600.otf") format("opentype");
  font-weight: 600;
}

:root {
  --var-bgColor: #fff;
  --var-secondBgColor: #f3f3f3;
  --var-fontColor: #1e2021;
  --var-buttonColor: #1e2021;
  --var-buttonHoverColor: #363a3c;
  --var-buttonTextColor: #fff;
  --var-smallBtnColor: #e0e0e0;;
  --var-smallBtnColor--hover: #cecece;
}

@media (prefers-color-scheme: dark) {
  :root {
    --var-bgColor: #333;
    --var-secondBgColor: #2a2a2a;
    --var-fontColor: #fff;
    --var-buttonColor: #186251;
    --var-buttonHoverColor: #1e3431;
    --var-buttonTextColor: #fff;
    --var-smallBtnColor: #747474;
    --var-smallBtnColor--hover: #515151;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 245px;
  font-family: SF Pro Display, sans-serif, currencies, auto;
  font-size: 24px;
  color: var(--var-fontColor);
  background-color: var(--var-bgColor);
  transition: height 0.25s ease-in-out;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 0px;
}

.modal::-webkit-scrollbar {
  width: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

.link {
  text-decoration: underline; 
  color: #8888e6;
}

.container {
  max-width: 520px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-section__inner {
  width: 500px;
}

.lastUpdateDate {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.3px;
  line-height: 21px;
  margin-top: 10px;
}

.lastUpdateDate span {
  font-size: 14px;
  font-weight: 300;
}

.settings {
  float: right;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 21px;
  margin-top: 10px;
}

.settings__swap {
  cursor: pointer;
  user-select: none;
  text-decoration: underline;
}

.balance__title,
.balance__value,
.income__title,
.income__value {
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.income__value span:first-child {
  cursor: pointer;
}

.income__value img {
  width: 14px;
  margin-right: 5px;
}

.main-section__stats {
  margin-bottom: 16px;
}

.balance__title,
.income__title {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 32px;
  margin-top: 10px;
}

.balance__value,
.income__value {
  font-weight: 500;
}

.income__value {
  color: #00ba88;
}

.buttons-section {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.btn {
  display: block;
  width: 100%;
  background: var(--var-buttonColor);
  color: var(--var-buttonTextColor);
  border: 1px solid transparent;
  border-radius: 12px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  min-width: 200px;
  outline: none;
  padding: 11px 25px 10px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  transition: all 0.185s ease-in-out;
}

.btn:hover {
  background: var(--var-buttonHoverColor);
}

.modal-container {
  position: relative;
  cursor: pointer;
}

.modal-container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px); /* создаем размытие заднего фона */
  z-index: 10;
}

.modal {
  width: 480px;
  height: 100%;
  margin-top: 20px;
  overflow-y: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--var-bgColor);
  color: var(--var-fontColor);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
  font-size: 16px;
  cursor: auto;
}

.stats-section {
  font-size: 14px;
  margin-top: 6px;
  line-height: 20px;
  width: 100%;
  overflow: hidden;
  max-height: 0px;
  transition: .25s ease-in-out;
}

.swap {
  user-select: none;
  margin-top: 6px;
  font-size: 16px;
  left: 115px;
  text-decoration: underline;
  cursor: pointer;
}

.display-none {
  display: none;
}

.invest-section {
  background: var(--var-bgColor);
  position: absolute;
  z-index: 1;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  top: -1000px;
  transition: .25s;
}

.invest-section__title,
.modal__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

.invest-section__title-sum {
  font-size: 16px;
  font-weight: 300;
}

.invest-section__btn-close,
.modal__btn-close {
  float: right;
  cursor: pointer;
  font-size: 30px;
}

.invest-section__input {
  font-size: 16px;
  font-family: SF Pro Display, sans-serif, currencies, auto;
  height: 32px;
  width: 145px;
  margin: 5px 0 10px;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 1px;
}

.invest-section__input-title {
  font-size: 16px;
}

.invest-section__input-btn {
  width: 40px;
  height: 28px;
  position: relative;
  border-radius: 11px;
  bottom: 2px;
  right: 40px;
  margin-right: -40px;
  border: none;
  cursor: pointer;
}

.invest-section__btn {
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
}

.list-element {
  position: relative;
  padding: 12px;
  border-radius: 12px;
  background: var(--var-secondBgColor);
  font-weight: 300;
}

.list-element + .list-element {
  margin-top: 12px;
}

.list-element__img {
  object-fit: cover;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin: 0px 10px 10px 0;
}

.list-element__loan-name {
  cursor: pointer;
  text-decoration: underline;
  user-select: none;
}

.list-element__btn {
  width: 100%;
  text-align: center;
  display: block;
  background: var(--var-smallBtnColor);
  padding: 8px;
  margin: 10px 0px 0px;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
  transition: .25s ease-in-out;
}

.list-element__btn:hover {
  background: var(--var-smallBtnColor--hover);
}

.list-element__btn:active {
  scale: .99;
}

.list-element__load-block {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100000000007;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  font-size: 24px;
  backdrop-filter: blur(5px);
  align-items: center;
  display: flex;
  justify-content: center;
}
