:root {
  --jle-bgColor: #fff;
  --jle-fontColor: #1e2021;
  --jle-contrast: #f3f4f5;
  --jle-contrast-hover: #ececec;

  --jle-buttonColor: #1e2021;
  --jle-buttonTextColor: #fff;
  --jle-buttonHoverColor: #363a3c;
  --jle-inputs: #e7e7e7;
  --jle-inputs-hover: #dddddd;
  --jle-link: #8888e6;

  --jle-universalColor: #c8ced2;
  --jle-green: #00ba88;
  --jle-lightGreen: #6cddc2;
  --jle-orange: #f2c94c;
  --jle-red: #ee2656;
  --jle-gray: #404142;
  --jle-lightGray: #808080;
}

@media (prefers-color-scheme: dark) {
  :root {
    --jle-bgColor: #1f2022;
    --jle-fontColor: #fefefe;
    --jle-contrast: #2b2c2e;
    --jle-contrast-hover: #303132;

    --jle-buttonColor: #186251;
    --jle-buttonHoverColor: #1e3431;
    --jle-inputs: #3c3c3c;
    --jle-inputs-hover: #4d4e4f;
  }
}

.light-theme {
  --jle-bgColor: #fff;
  --jle-fontColor: #1e2021;
  --jle-contrast: #f3f4f5;
  --jle-contrast-hover: #ececec;

  --jle-buttonColor: #1e2021;
  --jle-buttonHoverColor: #363a3c;
  --jle-inputs: #e7e7e7;
  --jle-inputs-hover: #dddddd;
}

.dark-theme {
  --jle-bgColor: #1f2022;
  --jle-fontColor: #fefefe;
  --jle-contrast: #2b2c2e;
  --jle-contrast-hover: #303132;

  --jle-buttonColor: #186251;
  --jle-buttonHoverColor: #1e3431;
  --jle-inputs: #3c3c3c;
  --jle-inputs-hover: #4d4e4f;
}

.black-theme {
  --jle-bgColor: #000;
  --jle-fontColor: #fefefe;
  --jle-contrast: #121212;
  --jle-contrast-hover: #202020;

  --jle-buttonColor: #186251;
  --jle-buttonHoverColor: #1e3431;
  --jle-inputs: #272727;
  --jle-inputs-hover: #3d3d3d;
}

@keyframes slideAnimation {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}
