:root {
  /* --jle-green: #186251; */
  --jle-bgColor: #fff;
  --jle-secondBgColor: #f3f4f6;
  --jle-fontColor: #1e2021;
  --jle-buttonColor: #1e2021;
  --jle-buttonHoverColor: #363a3c;
  --jle-buttonTextColor: #fff;
  --jle-smallBtnColor: #e0e0e0;
  --jle-smallBtnColor--hover: #cecece;
  --jle-svgBgColor: #f1f1f1;

  --jle-first-color: #ededed;
  --jle-second-color: #e8e8e8;
  --jle-universalColor: #c8ced2;

  --jle-green: #00ba88;
  --jle-lightGreen: #97d8ca;
}

@media (prefers-color-scheme: dark) {
  :root {
    --jle-bgColor: #1f2022;
    --jle-secondBgColor: #272928;
    --jle-fontColor: #fefefe;
    --jle-buttonColor: #186251;
    --jle-buttonHoverColor: #1e3431;
    --jle-buttonTextColor: #fff;
    --jle-smallBtnColor: #3f3f3f;
    --jle-smallBtnColor--hover: #515151;
    --jle-svgBgColor: #515151;

    --jle-first-color: #292929;
    --jle-second-color: #333333;

    --jle-lightGreen: #00e7b5;
  }
}

.test-theme {
  --jle-green: #00ffc3;
  --jle-bgColor: #c63535;
  --jle-secondBgColor: #06225b;
  --jle-fontColor: #e2ecf1;
  --jle-buttonColor: #043201;
  --jle-buttonHoverColor: #66ccff;
  --jle-buttonTextColor: #fff;
  --jle-smallBtnColor: #ec0000;
  --jle-smallBtnColor--hover: #cecece;
  --jle-svgBgColor: #f1f1f1;

  --jle-first-color: #ededed;
  --jle-second-color: #e8e8e8;
  --jle-universalColor: #c8ced2;

  --jle-green: #00ba88;
  --jle-lightGreen: #97d8ca;
}

@keyframes slideAnimation {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}
